body {
	font-family: 'Droid Sans', sans-serif;
	margin: 25px;
}

.menu ul {
	list-style: none;
	padding: 5px;
	margin: 0;
}

.menu li {
	display: inline;
	margin-right:25px;
	font-size: 1.0em;
}

.menu li:last-child {
	display: inline;
	margin-right:0;
	font-size: 1.0em;
}

.topbar {
	font-size: 1em;
	border: 1px solid #ddd;
	background-color: #ddd;
}

.authentication {
	float:left;
	width: 50%;
	height: 35px;
}

.search {
	float:right;
	width: 50%;
	text-align:right;
	height: 35px;
}

.search li {
	margin-right: 2px;
}

.title h1 {
	font-family: 'Cabin Sketch', cursive;
	margin: 0;
	padding: 0;
	font-size: 3em;
}

.subtitle {
	font-style:italic;
	margin-bottom: 1em;
	padding-left: 8em;
	color: red;
}

.main {
	background-color: #ddd;
}

br.clear {
	clear:both;
}

a, a:visited {
	color: blue;
}

a:hover {
	color: red;
}

table {
	width:100%;
}

caption {
	font-size: 0.75em;
	text-align: left;
}

td,
th {

	padding: 0.25em;
}

th {
	background-color: #ddd;
}

tbody.hover tr:hover {
	background-color: #eee;
}

#column1 {
	float:left;
	width: 200px;
	border: 2px dotted #888;
	padding: 0.5em;
	background-color: #ddd;
}

#column h1,
#column1 h2,
#column1 h3 {
	margin: 0;
	padding: 0;
}

#column1 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#column1 li {
	padding-bottom: 0.5em;
}


#column2 {
	margin-left:250px;
}

.paginate {
	margin-top: 1em;
	margin-bottom: 1em;
	text-align: center;
}

.paginate .prevLink {
	margin-right: 2em;
}

.paginate .step {
	margin-right: 2em;
}

.paginate .currentStep {
	margin-right: 1.33em;
	font-size: 1.5em;
}

.paginate .nextLink {
}

th.asc a, th.desc a {
    background-position: right;
    background-repeat: no-repeat;
   	padding-right: 1em;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

.message {
	background-color: #ffffaa;
	padding: 10px;
}

div.error {
	background-color: #ffc0cb;
	padding: 10px;
	margin-bottom: 1em;
}

div.error ul {
	list-style: none;
}

input.error {
	border-color: red;
}

table.edit th {
	width: 0;
}

.capitalize {
	text-transform: capitalize;
}

